th{
    background-color:#B2DFDB
}
tr{
    background-color:#B3E5FC;
}
.table1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width:730px;
    height:200px;
}